.imgThumbnail {
    width: 100%;
    height: 100%;
}
.smallimgdiv {
    width: 100%;
    height: 60%;
}
.bigimgdiv {
    width: 100%;
    height: 45rem;
}
.thumbnail {
    width: 100%;
    height: 32rem;
}
.thumbnail h3{
    text-decoration: none;
    color: black;
}