{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info</title>
    <style>
        div {
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
<div>
    <ul>
        {% for application in applications %}
            <li>{{ application.user.u_username }}--{{ application.reason }}--{{ application.date }}--
            <button class="agree" applyid="{{ application.id }}">同意</button>
            <button class="disagree" applyid="{{ application.id }}">拒绝</button>
        {% endfor %}

    </ul>
</div>


</body>
<script type="text/javascript" src="{% static 'web/main/js/jquery.min.js' %}"></script>
<script>
    $(function () {
        $('.agree').click(function () {
            let $agree = $(this);
            let applyid = $agree.attr('applyid');
            $.getJSON("/app/process_application/", {"applyid": applyid, "type": "agree"}, function (data) {
                console.log(data);
                window.location.reload();
             })
        });
        $('.disagree').click(function () {
            let $disagree = $(this);
            let applyid = $disagree.attr('applyid');
            $.getJSON("/app/process_application/", {"applyid": applyid, "type": "disagree"}, function (data) {
                console.log(data);
                window.location.reload();
            })
        })
    });
</script>
</html>