{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info</title>
    <style>
        div {
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
<form style=" font-size: 1rem" method="post" enctype="multipart/form-data"
      action="{% url 'app:team_info_change' %}?team_id={{ team.id }}">
    {% csrf_token %}
<div>
    <label>
        <span>团队头像：<img src="/static/uploads/{{ team.icon }}"></span><br>
        <input name="icon" type="file" id="icon_input"
                   style=" display: inline-block;width: 50%">
    </label>
</div>

<div>
    <label>
        <span>团队名称：<input type="text" name="teamname" value="{{ team.name }}"></span>

    </label>
</div>

<div>
    <label>
        <span>创建时间：{{ team.create_date }}</span>
    </label>
</div>

<div>
    <label>
        <span>团队成员数量：{{ team.number_num }}</span>
    </label>
</div>


<div>
    <label>
        <span>团队简介：{{ describe }}</span>
    </label>
</div>
<button type="submit" class="submit" id="submit">提交</button>
</form>
<ul>
    {% for team_relation in team_relations %}
        <li>{{ team_relation.user.u_username }}--
            {% if team_relation.level <= 1 %}
                <a href="{% url 'app:kick'%}?relation_id={{ team_relation.id }}"><button>踢出</button></a>
                团队成员
            {% else %}
                团队创建者
            {% endif %}
            --
            <button class="change" relation_id="{{ team_relation.id }}">
            {% if team_relation.change %}
                撤销修改权限
                {% else %}
                给予修改权限
            {% endif %}--
            </button>
            <button class="comment" relation_id="{{ team_relation.id }}">
            {% if team_relation.comment %}
                撤销评论权限
                {% else %}
                给予评论权限
            {% endif %}
            </button>
        </li>
    {% endfor %}

</ul>
<br>
<a href="{% url 'app:create_team_file' %}?team_id={{ team.id }}">
    <button>创建团队文档</button>
</a>
<a href="{% url 'app:team_files_list' %}?team_id={{ team.id }}&level={{ level }}">
    <button>查看团队文档列表</button>
</a>
{% if level >= 2 %}
    <a href="{% url 'app:dismiss_team' %}?team_id={{ team.id }}">
        <button>解散团队</button>
    </a>
    <br>
    <a href="{% url 'app:deal_application' %}?team_id={{ team.id }}">
        <button>查看团队申请</button>
    </a>
    <br>
    <a href="{% url 'app:user_search' %}?team_id={{ team.id }}">
        <button>邀请新成员</button>
    </a>
    {% else %}
    <br>
    <a href="{% url 'app:exit_team'%}?team_id={{ team.id }}"><button>退出团队</button></a>
{% endif %}
</body>
<script type="text/javascript" src="{% static 'web/main/js/jquery.min.js' %}"></script>
<script>
    $(function () {
        $('.change').click(function () {
            let $change = $(this);
            let relation_id = $change.attr('relation_id');
            $.getJSON("/app/deal_change/", {"relation_id": relation_id}, function (data) {
                console.log(data);
                window.location.reload();
             })
        });
        $('.comment').click(function () {
            let $comment = $(this);
            let relation_id = $comment.attr('relation_id');
            console.log(relation_id);
            $.getJSON("/app/deal_comment/", {"relation_id": relation_id}, function (data) {
                console.log(data);
                window.location.reload();
             })
        })
    });
</script>
</html>