{% extends 'base.html' %}
{% load static %}
{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'web/user/css/login.css' %}">
{% endblock %}
{% block ext_js %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <!-- banner -->
    <div class="banner_main">
        <div class="overlay-w3pvt">
            <div class="container">
                <div class="text-center login">
                    <div style="line-height: 100%">
                        <h3>请登录</h3>
                    </div>
                    <!--					这里是要提交的表单-->
                    <div style="margin-top: 3rem; text-align: center">
                        <form method="post" action="{% url 'app:login' %}"
                              style="width: 100%; font-size: 1rem">
                            <!--							提交用户名和密码之后跳转到mainpage-->
                            {% csrf_token %}
                            {# 防跨站攻击#}
                            <div class="form-group">
                                <!--								<label for="username">用户名</label>-->
                                <strong> 用户名：</strong>
                                <input name="username" type="text" class="form-control"  id="username" placeholder="Username"
                                       style="display: inline-block;width: 60%">
                            </div>
                            <div class="form-group">
                                <strong>&emsp;&nbsp;密码：&emsp;</strong>
                                <input name="password" type="password" class="form-control" autocomplete='new-password'
                                       placeholder="Password" style="display: inline-block;width: 60%" id="password">
                                <span class="glyphicon glyphicon-eye-close" id="eye"></span>
                            </div>
                            <button type="submit" class="submit" id="submit">提交</button>
                        </form>

                        <div>
                            <!--							游客模式与找回密码（待定）-->
                            <a href="{% url 'app:register' %}" style="color: orange; float: right">还未注册?点我注册</a>
                            <div style="width: 60%; margin: 1rem auto;text-align: center">
                            <p id="wrong" class="wrongText">{{ error_message }}</p>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- //banner -->

{% endblock %}
