{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info</title>
    <style>
        div {
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
<div>
    <ul>
        {% for file in files.object_list %}
            <a href="{% url 'app:file_info' file_id=file.id %}">
                <li>{{ file.title }}-{{ file.content }}</li>
            </a>
            <a href="{% url 'app:change_file' file_id=file.id %}">
                <button>修改</button>
            </a>
            <a href="{% url 'app:delete_file' file_id=file.id %}">
                <button>删除</button>
            </a>
            <button class="collect" file_id="{{ file.id }}">
                {% if file.personal_collection_set.exist %}
                    已收藏
                {% else %}
                    收藏
                {% endif %}
            </button>
        {% endfor %}
    </ul>
</div>


</body>
<script type="text/javascript" src="{% static 'web/main/js/jquery.min.js' %}"></script>
<script>
    $(function () {
        $('.collect').click(function () {
            let $collect = $(this);
            let file_id = $collect.attr('file_id');
            $.getJSON("/app/deal_collect/", {"file_id": file_id}, function (data) {
                console.log(data);
                {#window.location.reload();#}
            })
        })
    });
</script>
</html>